@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
}

.top-header{
    width: 100%;
    overflow: hidden;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.right{
    display: flex;
    align-items: center !important;
}

.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff !important;
    border: 3px solid #eee;
}

.navbar-toggler{
    position: relative;
}

.menu ul li a{
    color: #000;
}


.banner{
    width: 100%;
    height: 500px;
    background: url(../img/banner.jpg)center no-repeat;
    background-size: cover;
}


.banner-content h1{
    font-size: 80px;
}


.banner-content{
    position: relative;
    padding: 12rem;
    color: #fff;
}

.service{
    width: 100%;
    min-height: 600px;
    background-color: #f1f1f1;
    padding-top: 1rem;
}

.service-left ul li{
    padding: 10px 0;
    font-size: 30px;
}
.service-left ul li i{
    margin-right: 10px;
    color: #1ca651;
}


.gallery{
    width: 100%;
    min-height: 600px;
    background-color: #f1f1f1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.g{
    min-height: 620px;
    background-color: #fff;
    padding: 0 0 0 5rem;
 
}

.g img{
    width: 400px;
    text-align: center;
    position: relative;
}

.g-content ul li{
    font-size: 18px;
}

.gg{
    
}

.gg img{
    background-color: #fff;
    width: 500px;
    height: 200px;
    margin:0 0 10px 0;
}

.high{
    width: 100%;
    height: 450px;
    background: url(../img/banner.jpg)no-repeat center;
    background-size: cover;
}

.h{
   text-align: center;
    padding: 10rem;
    font-weight: bold;
    color: #fff;
}


.footer{
    width: 100%;
    min-height: 400px;
    background-color: #000;
}

.middle ul li{
    padding: 10px 0;
    color: #fff;
}

.middle h3{
    color: #0e62a3;
}


